---
 const personalImageAlt = "Kevin Rodr칤guez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      춰Hola! Soy Kevin un <strong>Desarrollador FullStack</strong> apasionado por crear soluciones digitales innovadoras.
    </p>

    <p>
      Cuento con <strong>+3 a침os de experiencia</strong> dise침ando y desarrollando aplicaciones web din치micas y escalables,
       desde la interfaz de usuario hasta la l칩gica de servidor. 
       Trabajo con tecnolog칤as como <strong>PHP, JavaScript, HTML y CSS</strong>, y actualmente estoy ampliando mis habilidades aprendiendo 
       <strong>React, Tailwind y Astro</strong>.
      Busco oportunidades en proyectos que me desaf칤en a seguir aprendiendo y mejorando mis habilidades, mientras aporto valor con mi conocimiento y creatividad.
    </p>

<p>Fuera del trabajo, disfruto correr y sobretodo el mundo de los videojuegos. 游 </p>

    
  </div>

  <img width="200" height="200" src="/kevindev.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
