---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Enero 2025 - Actualidad",
    title: "Desarrollador FullStack",
    company: "Degestec Games",
    description: "Mantenimiento y creación de nuevas herramientas para falicitar las tareas de gestión interna. Utilizando tecnologías como Laravel, Vue y  MySQL."
  },
  {
    date: "Mayo 2021 - Septiembre 2024",
    title: "Desarrollador FullStack",
    company: "Sodecia Automotive",
    description:
      "Mantenimiento y creación de nuevas aplicaciones en la web interna. Donde desarrollé soluciones para los usuarios de planta y digitalicé procesos. Utilizando las últimas tecnologías",
    link: "https://www.linkedin.com/in/kevinrodriguezdev/",
  },
  {
    date: "Enero 2021 - Marzo 2021",
    title: "Desarrollador Frontend",
    company: "La Cruz Azul",
    description:
      "Practicas en las que aprendí a trabajar en equipo. Trabajando en un mismo proyecto, gestionando tareas y manteniendo la parte de usuario del proyecto.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
