<header class="flex justify-center items-center py-5 w-full ">
  <!-- <img class="rounded-full w-12 h-12 " src="https://appi-a.com/wp-content/uploads/2016/12/def-sodecia.jpg" alt="Logo Kev dev" srcset="" /> -->

  <nav class="flex flex-row gap-x-10 opacity-80 ">
    <a class="hover:text-yellow-200 hover:opacity-100 transition" href="/home">Inicio</a>
    <a class="hover:text-yellow-200 hover:opacity-100 transition" href="#experiencia">Experiencia</a>
    <a class="hover:text-yellow-200 hover:opacity-100 transition" href="#sobre-mi">Sobre mí</a>
    <a class="hover:text-yellow-200 hover:opacity-100 transition" href="#proyectos">Proyectos</a>
    <a class="hover:text-yellow-200 hover:opacity-100 transition" href="#contacto">Contacto</a>
  </nav>
</header>

