<h2>Aplicación para finanzas</h2>
<figure id="projects" class="max-w-lg pt-5">
    <img class="h-auto max-w-full rounded-lg" src="/public/img/90shots_so.png" alt="image description">
    <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Image caption</figcaption>
  </figure>
  